[Aa]nimations
[Ll]ipSynch
[Mm]aps
[Ss]ave
[Ss]ounds
[Ss]taticMeshes
[Ss]ystem
[Tt]extures/*
![Tt]extures/[Ff]ont/
[Vv]ideos

*/.vs/*
.vscode/
*.log
*.zip
*.7z
*.bak
*.h
*.ukx
*.utx
*.usx
*.uax
*.scl
*.u
*.bik