[submodule "external/inipp"]
	path = external/inipp
	url = ../../mcmtroffaes/inipp
[submodule "external/spdlog"]
	path = external/spdlog
	url = ../../gabime/spdlog
[submodule "external/dxsdk"]
	path = external/dxsdk
	url = ../../apitrace/dxsdk
[submodule "external/minhook"]
	path = external/minhook
	url = ../../TsudaKageyu/minhook
[submodule "external/hooking"]
	path = external/hooking
	url = ../../ThirteenAG/Hooking.Patterns
